@using Agriculture.Entities.Concrete
@model List<Employee>
@{
    ViewData["Title"] = "Personellerimiz";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<span><a href="/Employee/AddEmployee/" class="btn btn-outline-primary">Yeni Personel Ekle</a></span>
<br />
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Personel Listesi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Avatar</th>
                            <th>Adı</th>
                            <th>Soyadı</th>
                            <th>Görevi</th>
                            <th>Linkedin</th>
                            <th colspan="2">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var employeeItem in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td class="py-1">
                                        <img src="@employeeItem.ImageUrl" alt="image" />
                                    </td>
                                    <td>@employeeItem.FirstName</td>
                                    <td>@employeeItem.LastName</td>
                                    <td>@employeeItem.Job</td>
                                    <td>@employeeItem.LinkedinUrl</td>
                                    <td><a href="/Employee/DeleteEmployee/@employeeItem.EmployeeId" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Employee/UpdateEmployee/@employeeItem.EmployeeId" class="btn btn-outline-dark">Güncelle</a></td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

